<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Tables</h1>
</header>
<section class="row">
  <form>
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="newTable()" class="btn btn-info btn-lg">New Table</button>
    </div>
  </form>
</section>
<hr>
<section class="row" ng-if="tables">
  <ul class="list-unstyled">
    <li ng-repeat="table in tables">
      <section class="well col-md-6 col-md-offset-3">
        <h1 class="h3 col-md-6 text-left" style="margin-top: 0"><a href ng-click="view(table.id)" >{{ table.number }}</a></h1>
        <div class="col-md-6 text-right">
          <button ng-click="edit(table.id)" class="btn btn-info">Edit</button>
        </div>
      </section>
    </li>
  </ul>
</section>
