<div ng-app="r2_ang">
  <div class="view-container">
    <ul class="nav nav-tabs" ng-controller="navCtrl">
        <li ng-class="navClass('home')"><a href='#/'>Home</a></li>
        <li ng-class="navClass('about')"><a href='#/tables'>Tables</a></li>
        <li ng-class="navClass('contact')"><a href='#/reservations'>Reservations</a></li>
        <li ng-class="navClass('contact')"><a href='#/timeline'>Timeline</a></li>
    </ul>

    <div growl></div>

    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>
